<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Name" value="CanvasSync" />
    <add key="Description" value="CanvasSync" />
    <!--Configuración service-->
    <add key="Url" value="http://localhost:52519/" />
    <add key="Token" value="Bearer 38e68bf8a14fa9ddb60d5b672deb613b" />
    <add key="Timeout" value="3600" />
  </appSettings>
</configuration>