<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Distribution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--DEV-->
    <!--<add name="SecurityEntities" connectionString="metadata=res://*/2.Security.SecurityEntities.csdl|res://*/2.Security.SecurityEntities.ssdl|res://*/2.Security.SecurityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SVRSQL01;initial catalog=pre_uni;persist security info=True;user id=UKSync;password=kennedy2017;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="ModelEntities" connectionString="metadata=res://*/3.Negocio.ModelEntities.csdl|res://*/3.Negocio.ModelEntities.ssdl|res://*/3.Negocio.ModelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SVRSQL03;initial catalog=Scamae_G;persist security info=True;user id=UKSync;password=kennedy2017;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--PROD-->
    <add name="SecurityEntities" connectionString="metadata=res://*/2.Security.SecurityEntities.csdl|res://*/2.Security.SecurityEntities.ssdl|res://*/2.Security.SecurityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SVRSQL01;initial catalog=prod_Uni;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ModelEntities" connectionString="metadata=res://*/3.Negocio.ModelEntities.csdl|res://*/3.Negocio.ModelEntities.ssdl|res://*/3.Negocio.ModelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=registrodocente;initial catalog=Scamae_G;persist security info=True;user id=scamnet;password=mnetsca;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="owin:appStartup" value="distribution"/>
    <add key="CorreoEmisorDeAvisos" value="gchervet@kennedy.edu.ar"/>
    <add key="MinutosDeTolerancia" value="20"/>
    <add key="SMTP_Servidor" value="smtp.office365.com"/>
    <add key="SMTP_Puerto" value="587"/>
    <add key="MoodleRestServerPath" value="/webservice/rest/server.php"/>
    <add key="MoodleWSUsername" value="wsuser"/>
    <add key="MoodleWSTokenParameter" value="?wstoken="/>
    <add key="MoodleWSFunctionNameParameter" value="&amp;wsfunction="/>
    <add key="MoodleRestServiceFormat" value="json"/>
    <add key="MoodleRestServiceFormatParameter" value="&amp;moodlewsrestformat="/>
    <add key="MoodleCourseFormat" value="topics"/>
    <add key="MoodleUserAuthMethod" value="ldap"/>
    <add key="MoodleUserPasswordDefault" value="ldapPassword02!"/>
    <add key="OperacionAlta" value="A"/>
    <add key="OperacionBaja" value="B"/>
    <add key="CursoFechaInicio" value="02/01/2018"/>
    <add key="OpcionCursoCantidadTemas" value="15"/>
    <add key="OpcionCursoPaginacion" value="1"/>
    <!-- Test UK -->
    <!--add key="MoodleBaseURL" value="http://svrlms01.central.kennedy.edu.ar:1001" /-->
    <!--add key="MoodleWSToken" value="ad6203fb8759bf3e1b55c6da02db4b06" /-->
    <!-- Test Entornos -->
    <!--add key="MoodleBaseURL" value="http://test-uk.tucampus.org" /-->
    <!--add key="MoodleWSToken" value="a7c54786d72b2f5b8495bf0593838def" /-->
    <!-- Producción Entornos -->
    <add key="MoodleBaseURL" value="http://campusvirtual.kennedy.edu.ar"/>
    <add key="MoodleWSToken" value="bdf8cf8ed10885517bcad70d81a959f1"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5.1" debug="true"/>
    <httpRuntime targetFramework="4.0" maxRequestLength="40960"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="40960000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <Distribution.Properties.Settings>
      <setting name="ForceHttp" serializeAs="String">
        <value>True</value>
      </setting>
    </Distribution.Properties.Settings>
  </applicationSettings>
</configuration>