<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
  <connectionStrings>
		<add name="ConnString" connectionString="Data Source=SVRSQL01; Initial Catalog=prod_uni; Integrated Security=SSPI"/>
	</connectionStrings>

  <appSettings>
    <add key="MoodleRestServerPath" value="/webservice/rest/server.php"/>
    <add key="MoodleWSUsername" value="wsuser"/>
    <add key="MoodleWSTokenParameter" value="?wstoken="/>
    <add key="MoodleWSFunctionNameParameter" value="&amp;wsfunction="/>
    <add key="MoodleRestServiceFormat" value="json"/>
    <add key="MoodleRestServiceFormatParameter" value="&amp;moodlewsrestformat="/>
    <add key="MoodleCourseFormat" value="topics"/>
    <add key="MoodleUserAuthMethod" value="ldap"/>
    <add key="MoodleUserPasswordDefault" value="ldapPassword02!"/>
    <add key="OperacionAlta" value="A"/>
    <add key="OperacionBaja" value="B"/>
    <add key="CursoFechaInicio" value="02/01/2017"/>
    <add key="OpcionCursoCantidadTemas" value="15"/>
    <add key="OpcionCursoPaginacion" value="1"/>
    <!-- Test UK -->
    <!--add key="MoodleBaseURL" value="http://svrlms01.central.kennedy.edu.ar:1001" /-->
    <!--add key="MoodleWSToken" value="ad6203fb8759bf3e1b55c6da02db4b06" /-->
    <!-- Test Entornos -->
    <!--add key="MoodleBaseURL" value="http://test-uk.tucampus.org" /-->
    <!--add key="MoodleWSToken" value="a7c54786d72b2f5b8495bf0593838def" /-->
    <!-- Producción Entornos -->
    <add key="MoodleBaseURL" value="http://campusvirtual.kennedy.edu.ar"/>
    <add key="MoodleWSToken" value="bdf8cf8ed10885517bcad70d81a959f1"/>
  </appSettings>

</configuration>
